.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background-color: #88CCFF;
  color: white;
  font-size: 1.8rem;
  font-family: 'Freckle Face', comic-sans ;
}

.container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

form {
  margin: 20px, auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  font-size: 1.4rem;
  font-family: 'Freckle Face', comic-sans ;
  padding: 0 5px;
  margin: 5px 5px;
  border: none;
  border-radius: 20px;
  text-align: center;
}

button {
  font-size: 1.4rem;
  font-family: 'Freckle Face', comic-sans ;
  border: none;
  border-radius: 20px;
  background-color: white;
  color: #88CCFF;
}